<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.jatayu.CalculateInterest</string>
	<key>Globals</key>
	<array>
		<dict>
			<key>label</key>
			<string>Delay Start</string>
			<key>name</key>
			<string>delayStart</string>
			<key>type</key>
			<string>string</string>
			<key>width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>label</key>
			<string>Delay End</string>
			<key>name</key>
			<string>delayEnd</string>
			<key>type</key>
			<string>string</string>
			<key>width</key>
			<real>100</real>
		</dict>	
		<dict>
			<key>label</key>
			<string>Original claim amount</string>
			<key>name</key>
			<string>originalClaimAmount</string>
			<key>type</key>
			<string>number</string>
			<key>width</key>
			<real>100</real>
		</dict>
		<dict>
			<key>label</key>
			<string>Interest rate with percent</string>
			<key>name</key>
			<string>interestRate</string>
			<key>type</key>
			<string>number</string>
			<key>width</key>
			<real>100</real>
		</dict>
	</array>
	<key>copyright</key>
	<string>© 2022 Jatayu Holznagel</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>width</key>
	<real>500</real>
	<key>GrandTotalMinimumVersion</key>
	<real>6.1</real>
	<key>types</key>
	<array>
		<string>costassistant</string>
	</array>
</dict>
</plist>
